---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AlwaysBreakBeforeMultilineStrings: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlignEscapedNewlinesLeft: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: true
SpaceAfterCStyleCast: true
MaxEmptyLinesToKeep: 2
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: false
ContinuationIndentWidth: 8
IndentPPDirectives: None
CommentPragmas: '#pragma'
SortIncludes: true
ReflowComments: false
ColumnLimit: 100
AlignConsecutiveAssignments: false
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
AllowShortEnumsOnASingleLine: false
