name: Build documentation

on:
  pull_request:
    branches: [main]
  workflow_call:
  workflow_dispatch:


jobs:

  build:
    runs-on: ubuntu-22.04
    env:
      PUBLISH_DIR: ./_build


    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: python3 -m pip install ".[docs]"

      - name: Build docs
        run: python3 -m sphinx -b html . ${{ env.PUBLISH_DIR }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ env.PUBLISH_DIR }}
